#header {
    height: 800px;
}

.bg-header {
    background-color: rgba(245, 243, 240, 1);
}

.pt-148 {
    padding-top: 148px;
}

.ls-1 {
    letter-spacing: 0.05rem;
    font-size: 80px !important;
}

.text-color-ertu {
    color: rgba(224, 204, 172, 1) !important;
}

#menu1 {
    height: 1219px;
    padding-top: 28px;
}

.ch {
    height: 450px;
}

.bg-none {
    background-color: white;
}

#menu2 {
    height: 381px;
}

footer {
    height: 261px;
}