body {
    min-width: 540px;
    font-family: 'Inter', sans-serif;
}

.bg-header {
    background-color: rgba(245, 243, 240, 1);
}

.logo {
    font-family: 'Kaushan Script', cursive;
    color: rgba(51, 51, 51, 1);
}

.nav-text-color {
    color: rgba(51, 51, 51, 1);
}

.pt-120 {
    padding-top: 120px;
}

.ls-1 {
    letter-spacing: 0.05rem;
    font-size: 80px !important;
}

.text-color-ertu {
    color: rgba(224, 204, 172, 1) !important;
}

.bg-submit {
    background: rgba(224, 204, 172, 1) !important;
}

.row-card-pad-x {
    padding-left: 71px;
    padding-right: 71px;
}

.card-photo {
    width: 588px;
}

.ch {
    height: 450px;
}

.bg-none {
    background-color: white;
}

.ms-100 {
    margin-left: 100px;
}

.me-100 {
    margin-right: 100px;
}

.border-none {
    border: none !important;
}

.li-skills {
    list-style-type: none;
}

.li-skills::before {
    content: "\2022";
    color: royalblue;
    margin-left: -1em;
}

.button {
    background-color: burlywood !important;
}